<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
                              http://maven.apache.org/xsd/settings-1.0.0.xsd">

    <!-- Repositórios remotos para download de dependências -->
    <profiles>
        <profile>
            <id>default</id>
            <repositories>
                <repository>
                    <id>central</id>
                    <url>https://repo.maven.apache.org/maven2</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
                </repository>
                <!-- Adicione outros repositórios aqui, se necessário -->
            </repositories>
        </profile>
    </profiles>

    <!-- Definindo o perfil ativo por padrão -->
    <activeProfiles>
        <activeProfile>default</activeProfile>
    </activeProfiles>

    <!-- Configuração de credenciais para repositórios privados -->
    <!--
    <servers>
        <server>
            <id>my-private-repo</id>
            <username>my-username</username>
            <password>my-password</password>
        </server>
    </servers>
    -->

    <!-- Configuração de proxies, se necessário -->
    <!--
    <proxies>
        <proxy>
            <id>example-proxy</id>
            <active>true</active>
            <protocol>http</protocol>
            <host>proxy.example.com</host>
            <port>8080</port>
            <username>proxyuser</username>
            <password>somepassword</password>
            <nonProxyHosts>www.google.com|*.example.com</nonProxyHosts>
        </proxy>
    </proxies>
    -->

</settings>
